.footer {
  background: #e4ecff;
  color: #3b3e42;
  padding: 60px 20px 20px;
  font-family: Arial, sans-serif;
}

.footer-container {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 30px;
}

.footer-box h2,
.footer-box h3 {
  color: #252323;
  margin-bottom: 15px;
}

.footer-box p {
  font-size: 14px;
  line-height: 1.6;
}

.footer-box ul {
  list-style: none;
  padding: 0;
}

.footer-box ul li {
  margin-bottom: 10px;
}

.footer-box ul li a {
  color: #1f1f1f;
  text-decoration: none;
  font-size: 14px;
}

.footer-box ul li a:hover {
  color: #38bdf8;
}

.social-icons a {
  display: inline-block;
  margin-right: 10px;
  font-size: 20px;
  color: #2a2a2b;
  transition: 0.3s;
}

.social-icons a:hover {
  color: #38bdf8;
}

.footer-bottom {
  text-align: center;
  margin-top: 40px;
  border-top: 1px solid #334155;
  padding-top: 15px;
  font-size: 14px;
}