/* TOP HERO */
.top-hero {
  background: #dfffea;
  padding: 40px 0;
  position: relative;
}

.top-hero-container {
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.lms-box {
  display: flex;
  align-items: center;
  gap: 15px;
  background: #e9fff3;
  padding: 20px 30px;
  border-radius: 40px;
}

.lms-box img {
  width: 45px;
}

.lms-box h3 {
  margin: 0;
  font-size: 18px;
  font-weight: 600;
}

.lms-box p {
  margin: 0;
  font-size: 14px;
  color: #555;
}

.top-hero-right img {
  max-width: 420px;
 
}

/* CONTENT SECTION */
.hero-content-section {
  padding: 80px 0;
}

.content-container {
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;

  display: flex;
  align-items: center;
  gap: 40px;
}

.content-left {
  flex: 1;
}

.content-left h1 {
  font-size: 42px;
  margin-bottom: 20px;
}

.content-left h1 span {
  color: #0a7c5b;
}

.content-left p {
  font-size: 16px;
  line-height: 1.7;
  color: #555;
  margin-bottom: 15px;
}

.visit-btn {
  margin-top: 20px;
  background: #c35b00;
  color: white;
  border: none;
  padding: 12px 30px;
  border-radius: 30px;
  cursor: pointer;
}

.content-right {
  flex: 1;
  text-align: right;
}

.content-right img {
  max-width: 100%;
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .top-hero-container,
  .content-container {
    flex-direction: column;
    text-align: center;
  }

  .top-hero-right img {
    max-width: 300px;
  }

  .content-left h1 {
    font-size: 32px;
  }
}

